@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: inherit;
  text-align: center;
}

input {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

.container {
  margin: 20px auto;
  padding: 20px;
  max-width: 476px;
  border-radius: 6px;
}
.wrapper {
  width: 100%;
  background-color: #fff;
  padding: 8px;
  margin: 20px 0;
  padding: 8px;
  padding-bottom: 180px;
}

.icon {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  cursor: pointer;
}

.icon::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 1px;
  background-color: #998899;
  transform: translate(-50%, -50%);
}
.icon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1px;
  height: 20px;
  background-color: #998899;
  transform: translate(-50%, -50%);
}

div :active.icon {
  transform: rotate(90deg);
}

.form {
  margin: 0 auto;
  overflow: hidden;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #989898;
}
.form input {
  float: left;
  border: none;
  padding: 2px 12px;
  height: 26px;
  width: 50%;
}
.form button {
  float: right;
  border: none;
  background-color: inherit;
}
button .icon {
  transform: rotate(90deg);
}
button :active.icon {
  transform: rotate(45deg);
}
.make {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  padding: 12px;
  border: 1px solid #989898;
  border-radius: 6px;
}
.make_app {
  background-color: #f4f4f4;
}

.make__text {
  display: inline-block;
  position: relative;
  padding: 0 20px;
  width: 80%;
}
.make__label {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 1px solid #989898;
  padding: 2px;
}
.btn-check {
  display: none;
}

.custom-checkbox {
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  border-color: #e72c2c;
  vertical-align: text-top;
}

input[type="checkbox"]:checked + .custom-checkbox {
  width: 15px;
  height: 15px;
  background-color: #c4c4c4;
}
